/* Style for floating icons */
.floating-icons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Add space between icons */
  z-index: 100; /* Ensure icons are above other elements */
}

.floating-icons a {
  color: white;
  background-color: green; /* WhatsApp color */
  padding: 10px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: 24px;
  width: 50px;
  height: 50px;
}

.floating-icons .floating-email {
  background-color: red; /* Email color */
}

.floating-icons a:hover {
  opacity: 0.8;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .floating-icons {
    bottom: 10px;
    right: 10px;
    gap: 8px;
  }

  .floating-icons a {
    font-size: 20px;
    width: 40px;
    height: 40px;
  }
}
